* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Дезигн и верстка */
.design{
    width: 100%;
    padding: 57px 0 146px;
    background: #EEEFF1;
}
.design-header{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;   
}
.link-header{
    padding-top: 5px;  
}
 .link-header a{
    text-decoration: none;
    margin-right: 42px;
    font-size: 16px;
    transition: .5s;
} 
 .link-header a:hover{
    color: rgb(69, 69, 73);
} 
.design-internal{
    width: 54%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.design-internal-left{
    width: 35%;
    margin: 30px 0;
}
.design-internal img{
    width: 100%;
}
.design-internal-right{
    width: 53%;
    text-align: left;
    align-items: left;
}
.design-title{
    font-size:48px ;
    margin: 30px 0 30px;
}
.design-descr{
    font-size: 16px;
    color: #727272;
}
.design-btn{
    font-size: 16px;
    padding: 25px 41px;
    color: #EEEFF1;
    background: #34547A;
    margin: 60px 0;
    margin-bottom: 63%;
    border: none;
}
/* Обо мне */
.process{
    background: #F9F9F9;
    padding: 100px 0;
}
.process-title{
    font-size: 32px;
    text-align: center;
}
.process-descr{
    width: 30%;
    color: #727272;
    text-align: center;
    margin: 50px auto 60px;
}
/* 40 proj */
.project40{
    width: 100%;
    padding: 100px 0;
    background: #34547A;
}
.project40-wrapper{
    width: 60%;
    margin: auto;
    display: flex;
}
.project40-wrapper img{
    width: calc(20% - 50px);
    margin-right: 50px;
}
.project40-wrapper img:last-child{
    margin-right: 0;
}
/*Мои навыки*/
.skills {
    padding: 100px 0;
}
.skills-wrapper {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-info {
    width: 40%;
}
.skills-title {
    font-size: 32px;
    margin-bottom: 50px;
}
.skill {
    margin-bottom: 30px;
}
.skill-name {
    color: #727272;
    margin-bottom: 20px;
}
.skill-scale {
    height: 5px;
    background: #C4C4C4;
}
.skill-scale-internal {
    height: 5px;
    width: 80%;
    background: #34547a;
}
.skill-image {
    width: 50%;
    object-fit: contain;
}
/*Как я работаю*/
.process {
    background: #EEEFF1;
    padding: 100px 0; /*100 ß сверху,снизу справа слева по 0*/
}
.process-title {
    font-size: 32px;
    text-align: center;
}
.process-descr {
    width: 30%;
    color: #727272;
    text-align: center;
    margin: 50px auto 60px;
}
.process-video {
    width: 60%;
    aspect-ratio: 16/9;
    display: block;
    margin: auto;
}
/*projects*/

.projects {
    display: flex;
    flex-wrap: wrap;
}
.projects-item {
    width: 25%;
   aspect-ratio: 1/1;
    background-size: cover; /*cover - полная ширина, высота автомат, contain - полная высота, ширина масштабируется*/
}
.sticker {
    background-image: url(./images/stickers.png);
}
.laptop {
    background-image: url(./images/laptop.png);
}
.projects-item-hover {
    height: 100%; /*на всю высоту проджектс айтем*/
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(33, 80, 138, 0.8));
    opacity: 0; /*opacity - прозрачность, чем ближе к 0 тем более прозр*/
    display: flex;
    justify-content: center; /*по горизонтали*/
    align-items: center;
    transition: 1s;
}
.projects-item-hover:hover {
    opacity: 1;
}
/*microsoft*/
.microsoft {
    padding: 70px 0 100px;
}
.microsoft-wrapper {
    width: 60%;
    margin: auto;
    display: flex;
}
.microsoft-wrapper img { /*img внутри wrapper*/
    width: calc(25% - 30px);
    margin-right: 30px;
}
/*форма*/
.form {
    background: #EEEFF1;
    padding: 100px 0;
}
.form-title {
    font-size: 32px;
    text-align: center;
    /* margin-bottom: 50px; */
}
.form-descr {
    font-size: 16px;
    width: 30%;
    text-align: center;
    margin: 50px auto 65px;
    /* margin-bottom: 65px; */
}
form {
    width: 30%;
    margin: auto;
}
textarea {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 50px;
    padding: 20px;
}
.form-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"] {
    width: 45%;
    padding: 20px;
    border: none; /* убираем границу inputa */
    outline: none; 
}
input[type="submit"] {
    display: block;
    margin: auto;
    height: 55px;
    background: #34547A;
    border: none;
    outline: none;
    padding: 0 45px;
    text-transform: uppercase; /* сделать буквы заглавными  */
    color: white;
}
/* 
    ctrl + A 
    ctrl + K + F
    alt + shift + F
    .className .form-title .form
    form, h1, input, h4
    margin: auto; центрирование - отступ слева и справа равный
    margin: 50px auto 65px; - вверху 50, справа и слева - 0, снизу 65px
*/