* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 60px;
    background-color: gray;
    position: fixed;
}
.nav-link {
    font-size: 24px;
    text-decoration: none;
}
section {
    height: 100vh;
}
.item-1 {
    background-color: brown;
}
.item-2 {
    background-color: darkblue;
}
.item-3 {
    background-color: darkorange;
}
.item-4 {
    background-color: greenyellow;
}