.active {
    height: 100vh;
    background-color: violet;
}
p {
    font-size: 18px;
    text-align: center;
}
.red {
    background: red;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.laptops { 
    width: 40%;
    background-color: chartreuse;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}
.line {
    text-decoration: line-through;
}